.approach-section {
}

.approach-bg-wrapper {
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.approach-content-wrapper {
  display: flex;
  gap: 52px;

  @include media(desktop) {
    flex-direction: column;
    gap: 20px;
  }
}

.approach-img {
  min-width: 56px;

  @include media(desktop) {
  }
}

.approach-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 71px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 77px;
  }
}

.approach-list-item {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    &:last-child {
      display: none;
    }

    &:nth-child(1) {
      width: 204px;
    }

    &:nth-child(2) {
      width: 280px;
    }

    &:nth-child(3) {
      width: 310px;
    }

    &:nth-child(4) {
      width: 238px;
    }
  }
}

.approach-item-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;

  @include media(desktop) {
  }
}

.approach-span-mob {
  @include media(desktop) {
    display: none;
  }
}

.approach-span-desk {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
