.testimonials-section {
}

.testimonials-bg-wrapper {
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
  }
}

.testimonials-list-item {
  border: 1px solid rgba(120, 125, 255, 0.4);
  border-radius: 32px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  @include media(desktop) {
    padding: 22px 20px;

    &:nth-child(1) {
      max-width: 860px;
      margin-left: 0;
      margin-right: auto;
    }

    &:nth-child(2) {
      max-width: 833px;
      margin-left: auto;
      margin-right: 0;
    }

    &:nth-child(3) {
      max-width: 833px;
      margin-left: 0;
      margin-right: auto;
    }

    &:nth-child(4) {
      max-width: 983px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.testimonials-item-text-wrapper {
}

.testimonials-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 12px;

  @include media(desktop) {
  }
}

.testimonials-item-name {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
