<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About Us</h2>
      <p class="section-subtitle">Who We Are</p>
      <div class="about-content-wrapper">
        <p class="about-text">
          Consultana is a Limited Liability Company created by a team of gamers,
          developers, and business strategists. We believe in helping creators
          and teams unlock their full potential using actionable advice, strong
          data, and deep gaming industry insight.
        </p>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="387"
            height="294" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="320"
            height="244" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Display"
            width="320"
            height="244"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
