<section class="section approach-section" id="approach">
  <div class="approach-bg-wrapper">
    <div class="container approach-container">
      <h2 class="section-title approach-title">Our Approach</h2>
      <p class="section-subtitle">How We Work With You</p>
      <div class="approach-content-wrapper">
        <picture>
          <source
            srcset="./img/approach/approach-steps-desk.png"
            media="(min-width: 1440px)"
            width="1280"
            height="48" />
          <source
            srcset="./img/approach/approach-steps-mob.png"
            width="56"
            height="596" />
          <img
            class="approach-img"
            src="./img/approach/approach-steps-mob.png"
            alt="Steps"
            width="56"
            height="596"
            loading="lazy"
        /></picture>
        <ul class="approach-list">
          <li class="approach-list-item">
            <p class="approach-item-text">
              <span class="approach-span-mob"
                >Choose a coaching package or single-session review</span
              ><span class="approach-span-desk">Discovery Call</span>
            </p>
          </li>
          <li class="approach-list-item">
            <p class="approach-item-text">
              <span class="approach-span-mob"
                >Share your portfolio or Figma file</span
              ><span class="approach-span-desk">Strategy Proposal</span>
            </p>
          </li>
          <li class="approach-list-item">
            <p class="approach-item-text">
              <span class="approach-span-mob"
                >Join a video session for live feedback and next steps</span
              ><span class="approach-span-desk"
                >Roadmap & Execution Support</span
              >
            </p>
          </li>
          <li class="approach-list-item">
            <p class="approach-item-text">
              <span class="approach-span-mob"
                >Share your portfolio or Figma file</span
              ><span class="approach-span-desk">Follow-up Optimization</span>
            </p>
          </li>
          <li class="approach-list-item">
            <p class="approach-item-text">
              (Optional) Get matched with a mentor for ongoing support
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
