<section class="section clients-section" id="clients">
  <div class="clients-bg-wrapper">
    <div class="container clients-container">
      <h2 class="section-title clients-title">Who We Help</h2>
      <p class="section-subtitle">Tailored Expertise for Every Gaming Vision</p>
      <p class="clients-text">
        Whether you're launching a quest room, building a new indie game,
        scaling an esports team, or growing your gaming blog, we understand your
        world.
      </p>
      <ul class="clients-list">
        <li class="clients-list-item">
          <img
            class="clients-img"
            src="./img/clients/clients-hexagon.png"
            alt="Hexagon"
            width="44"
            height="46"
            loading="lazy"
          />
          <p class="clients-item-text">Game Studios</p>
        </li>
        <li class="clients-list-item">
          <img
            class="clients-img"
            src="./img/clients/clients-wrench.png"
            alt="Wrench"
            width="46"
            height="46"
            loading="lazy"
          />
          <p class="clients-item-text">Esports Startups</p>
        </li>
        <li class="clients-list-item">
          <img
            class="clients-img"
            src="./img/clients/clients-star.png"
            alt="Star"
            width="48"
            height="46"
            loading="lazy"
          />
          <p class="clients-item-text">Quest Room Owners</p>
        </li>
        <li class="clients-list-item">
          <img
            class="clients-img"
            src="./img/clients/clients-helix.png"
            alt="Helix"
            width="44"
            height="46"
            loading="lazy"
          />
          <p class="clients-item-text">Gaming Influencers</p>
        </li>
        <li class="clients-list-item">
          <img
            class="clients-img"
            src="./img/clients/clients-puzzle.png"
            alt="Puzzle"
            width="44"
            height="46"
            loading="lazy"
          />
          <p class="clients-item-text">Gaming SaaS Companies</p>
        </li>
      </ul>
    </div>
  </div>
</section>
