<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">Contact Us</h2>
      <p class="section-subtitle">We’d Love to Hear From You</p>
      <a class="contact-email-link" href="mailto:info@consultana.site"
        >info@consultana.site</a
      >
      <ul class="contact-list">
        <li class="contact-list-item">
          <a
            class="contact-item-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://x.com/"
          >
            <svg class="contact-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="contact-list-item">
          <a
            class="contact-item-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/"
          >
            <svg class="contact-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="contact-list-item">
          <a
            class="contact-item-link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.com/"
          >
            <svg class="contact-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-discord"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
