<section class="section highlights-section" id="highlights">
  <div class="highlights-bg-wrapper">
    <div class="container highlights-container">
      <h2 class="section-title highlights-title">Gaming Blog Highlights</h2>
      <p class="section-subtitle">Top Articles This Month</p>
      <ul class="highlights-list">
        <li class="highlights-list-item">
          <picture>
            <source
              srcset="./img/highlights/highlights-img1-desk.png"
              media="(min-width: 1440px)"
              width="304"
              height="260" />
            <source
              srcset="./img/highlights/highlights-img1-mob.png"
              width="343"
              height="260" />
            <img
              class="highlights-img"
              src="./img/highlights/highlights-img1-mob.png"
              alt="Girl"
              width="343"
              height="260"
              loading="lazy"
          /></picture>
          <p class="highlights-item-text">“Gamifying SaaS: Case Studies”</p>
        </li>
        <li class="highlights-list-item">
          <picture>
            <source
              srcset="./img/highlights/highlights-img2-desk.png"
              media="(min-width: 1440px)"
              width="304"
              height="260" />
            <source
              srcset="./img/highlights/highlights-img2-mob.png"
              width="343"
              height="260" />
            <img
              class="highlights-img"
              src="./img/highlights/highlights-img2-mob.png"
              alt="Laptop"
              width="343"
              height="260"
              loading="lazy"
          /></picture>
          <p class="highlights-item-text">
            “How Indie Games Break Through in 2025”
          </p>
        </li>
        <li class="highlights-list-item">
          <picture>
            <source
              srcset="./img/highlights/highlights-img3-desk.png"
              media="(min-width: 1440px)"
              width="304"
              height="260" />
            <source
              srcset="./img/highlights/highlights-img3-mob.png"
              width="343"
              height="260" />
            <img
              class="highlights-img"
              src="./img/highlights/highlights-img3-mob.png"
              alt="Sign"
              width="343"
              height="260"
              loading="lazy"
          /></picture>
          <p class="highlights-item-text">
            “What Makes a Quest Room Immersive?”
          </p>
        </li>
      </ul>
      <div class="highlights-btn-wrapper">
        <a class="highlights-btn" href="#contact">Browse Full Library</a>
      </div>
    </div>
  </div>
</section>
