<section class="section pricing-section" id="pricing">
  <div class="pricing-bg-wrapper">
    <div class="container pricing-container">
      <h2 class="section-title pricing-title">Subscription Plans</h2>
      <p class="section-subtitle">Flexible Packages to Fit Your Vision</p>
      <ul class="pricing-list">
        <li class="pricing-list-item">
          <p class="pricing-item-title">Starter Quest</p>
          <p class="pricing-text">$499/month</p>
          <ul class="pricing-item-list">
            <li class="pricing-item-list-el">2 calls</li>
            <li class="pricing-item-list-el">roadmap</li>
            <li class="pricing-item-list-el">blog audit</li>
          </ul>
          <div class="pricing-btn-wrapper">
            <a class="pricing-btn" href="#contact">Choose Your Plan</a>
          </div>
        </li>
        <li class="pricing-list-item">
          <p class="pricing-item-title">Power-Up</p>
          <p class="pricing-text">$999/month</p>
          <p class="pricing-item-text">Full funnel audit + content plan</p>
          <div class="pricing-btn-wrapper">
            <a class="pricing-btn" href="#contact">Choose Your Plan</a>
          </div>
        </li>
        <li class="pricing-list-item">
          <p class="pricing-item-title">Pro Play</p>
          <p class="pricing-text">Custom</p>
          <ul class="pricing-item-list">
            <li class="pricing-item-list-el">On-call support</li>
            <li class="pricing-item-list-el">analytics dashboard</li>
            <li class="pricing-item-list-el">team workshops</li>
          </ul>
          <div class="pricing-btn-wrapper">
            <a class="pricing-btn" href="#contact">Choose Your Plan</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
