<section class="section signup-section" id="signup">
  <div class="signup-bg-wrapper">
    <div class="container signup-container">
      <h2 class="section-title signup-title">Newsletter Signup</h2>
      <p class="section-subtitle">Get Strategic Tips Directly to Your Inbox</p>
      <form class="signup-form">
        <label class="signup-form-label" for=""
          ><input
            class="signup-form-input"
            type="email"
            placeholder="Email address"
            name="email"
        /></label>
        <button type="submit" class="signup-form-btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
