<section class="section testimonials-section" id="testimonials">
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <h2 class="section-title testimonials-title">Testimonials</h2>
      <p class="section-subtitle">What Our Members Say</p>
      <ul class="testimonials-list">
        <li class="testimonials-list-item">
          <img
            src="./img/testimonials/testimonials-riley.png"
            alt="Avatar"
            width="88"
            height="88"
            loading="lazy"
          />
          <div class="testimonials-item-text-wrapper">
            <p class="testimonials-item-text">
              "Consultana helped us avoid critical early mistakes and guided our
              launch strategy perfectly. Highly recommend!"
            </p>
            <p class="testimonials-item-name">– Riley N.</p>
          </div>
        </li>
        <li class="testimonials-list-item">
          <img
            src="./img/testimonials/testimonials-kareem.png"
            alt="Avatar"
            width="88"
            height="88"
            loading="lazy"
          />
          <div class="testimonials-item-text-wrapper">
            <p class="testimonials-item-text">
              "Our quest room traffic doubled after working with them. They know
              what works!"
            </p>
            <p class="testimonials-item-name">– Kareem M.</p>
          </div>
        </li>
        <li class="testimonials-list-item">
          <img
            src="./img/testimonials/testimonials-sienna.png"
            alt="Avatar"
            width="88"
            height="88"
            loading="lazy"
          />
          <div class="testimonials-item-text-wrapper">
            <p class="testimonials-item-text">
              "The insights we received on player engagement were eye-opening.
              Total game-changer."
            </p>
            <p class="testimonials-item-name">– Sienna F.</p>
          </div>
        </li>
        <li class="testimonials-list-item">
          <img
            src="./img/testimonials/testimonials-julian.png"
            alt="Avatar"
            width="88"
            height="88"
            loading="lazy"
          />
          <div class="testimonials-item-text-wrapper">
            <p class="testimonials-item-text">
              "We had the talent, but lacked direction. Consultana gave us the
              clarity and push we needed."
            </p>
            <p class="testimonials-item-name">– Julian C.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
